<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.agilereview.core.StorageClient">
      <StorageClient
            class="org.agilereview.test.common.storage.external.StorageClientMock"
            name="StorageMock">
      </StorageClient>
   </extension>

</plugin>
