<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.agilereview.core.EditorParser">
      <EditorParser
            class="org.agilereview.editorparser.itexteditor.control.EditorParserExtension"
            editor="org.eclipse.ui.texteditor.ITextEditor"
            id="org.agilereview.editorparser.itexteditor.EditorParser">
      </EditorParser>
   </extension>
   <extension
         point="org.agilereview.core.ReviewDataReceiver">
      <ReviewDataReceiver
            class="org.agilereview.editorparser.itexteditor.control.DataManager"
            id="org.agilereview.editorparser.itexteditor.DataReceiver">
      </ReviewDataReceiver>
   </extension>
</plugin>
