<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.agilereview.core.EditorParser">
      <EditorParser
            class="org.agilereview.editorparser.itexteditor.control.EditorParserExtension"
            editor="org.eclipse.ui.texteditor.ITextEditor"
            id="org.agilereview.editorparser.itexteditor.EditorParser">
      </EditorParser>
   </extension>
   <extension
         point="org.agilereview.core.ReviewDataReceiver">
      <ReviewDataReceiver
            class="org.agilereview.editorparser.itexteditor.control.DataManager"
            id="org.agilereview.editorparser.itexteditor.DataReceiver">
      </ReviewDataReceiver>
   </extension>
<extension
          id="AgileReview.CommentSpecification"
          point="org.eclipse.ui.editors.markerAnnotationSpecification">
       <specification
             annotationType="AgileReview.comment.annotation"
             colorPreferenceKey="Comment_Annotation"
             contributesToHeader="false"
             highlightPreferenceKey="Comment"
             highlightPreferenceValue="true"
             icon="%agileReview.icon"
             includeOnPreferencePage="true"
             isGoToPreviousNavigationTarget="false"
             label="Comment (default)"
             overviewRulerPreferenceKey="Comment_Annotation_Overview"
             overviewRulerPreferenceValue="true"
             showInNextPrevDropdownToolbarAction="false"
             symbolicIcon="info"
             textPreferenceKey="Comment_Annotation_Text"
             textPreferenceValue="true"
             verticalRulerPreferenceKey="Comment_Annotation_Vertical"
             verticalRulerPreferenceValue="true">
       </specification>
       <specification
             annotationType="AgileReview.comment.annotation.IDEUser"
             colorPreferenceKey="Comment_Annotation_IDEUser"
             contributesToHeader="false"
             highlightPreferenceKey="Comment_IDEUser"
             highlightPreferenceValue="true"
             icon="%agileReview.icon"
             includeOnPreferencePage="true"
             isGoToPreviousNavigationTarget="false"
             label="Comment (IDE User)"
             overviewRulerPreferenceKey="Comment_Annotation_Overview_IDEUser"
             overviewRulerPreferenceValue="true"
             showInNextPrevDropdownToolbarAction="false"
             symbolicIcon="info"
             textPreferenceKey="Comment_Annotation_Text_IDEUser"
             textPreferenceValue="true"
             verticalRulerPreferenceKey="Comment_Annotation_Vertical_IDEUser"
             verticalRulerPreferenceValue="true">
       </specification>
       <specification
             annotationType="AgileReview.comment.annotation.Author2"
             colorPreferenceKey="Comment_Annotation_Author2"
             contributesToHeader="false"
             highlightPreferenceKey="Comment_Author2"
             highlightPreferenceValue="true"
             icon="%agileReview.icon"
             includeOnPreferencePage="true"
             isGoToPreviousNavigationTarget="false"
             label="Comment (Author 2)"
             overviewRulerPreferenceKey="Comment_Annotation_Overview_Author2"
             overviewRulerPreferenceValue="true"
             showInNextPrevDropdownToolbarAction="false"
             symbolicIcon="info"
             textPreferenceKey="Comment_Annotation_Text_Author2"
             textPreferenceValue="true"
             verticalRulerPreferenceKey="Comment_Annotation_Vertical_Author2"
             verticalRulerPreferenceValue="true">
       </specification>
       <specification
             annotationType="AgileReview.comment.annotation.Author3"
             colorPreferenceKey="Comment_Annotation_Author3"
             contributesToHeader="false"
             highlightPreferenceKey="Comment_Author3"
             highlightPreferenceValue="true"
             icon="%agileReview.icon"
             includeOnPreferencePage="true"
             isGoToPreviousNavigationTarget="false"
             label="Comment (Author 3)"
             overviewRulerPreferenceKey="Comment_Annotation_Overview_Author3"
             overviewRulerPreferenceValue="true"
             showInNextPrevDropdownToolbarAction="false"
             symbolicIcon="info"
             textPreferenceKey="Comment_Annotation_Text_Author3"
             textPreferenceValue="true"
             verticalRulerPreferenceKey="Comment_Annotation_Vertical_Author3"
             verticalRulerPreferenceValue="true">
       </specification>
       <specification
             annotationType="AgileReview.comment.annotation.Author4"
             colorPreferenceKey="Comment_Annotation_Author4"
             contributesToHeader="false"
             highlightPreferenceKey="Comment_Author4"
             highlightPreferenceValue="true"
             icon="%agileReview.icon"
             includeOnPreferencePage="true"
             isGoToPreviousNavigationTarget="false"
             label="Comment (Author 4)"
             overviewRulerPreferenceKey="Comment_Annotation_Overview_Author4"
             overviewRulerPreferenceValue="true"
             showInNextPrevDropdownToolbarAction="false"
             symbolicIcon="info"
             textPreferenceKey="Comment_Annotation_Text_Author4"
             textPreferenceValue="true"
             verticalRulerPreferenceKey="Comment_Annotation_Vertical_Author4"
             verticalRulerPreferenceValue="true">
       </specification>
       <specification
             annotationType="AgileReview.comment.annotation.Author5"
             colorPreferenceKey="Comment_Annotation_Author5"
             contributesToHeader="false"
             highlightPreferenceKey="Comment_Author5"
             highlightPreferenceValue="true"
             icon="%agileReview.icon"
             includeOnPreferencePage="true"
             isGoToPreviousNavigationTarget="false"
             label="Comment (Author 5)"
             overviewRulerPreferenceKey="Comment_Annotation_Overview_Author5"
             overviewRulerPreferenceValue="true"
             showInNextPrevDropdownToolbarAction="false"
             symbolicIcon="info"
             textPreferenceKey="Comment_Annotation_Text_Author5"
             textPreferenceValue="true"
             verticalRulerPreferenceKey="Comment_Annotation_Vertical_Author5"
             verticalRulerPreferenceValue="true">
       </specification>
       <specification
             annotationType="AgileReview.comment.annotation.Author6"
             colorPreferenceKey="Comment_Annotation_Author6"
             contributesToHeader="false"
             highlightPreferenceKey="Comment_Author6"
             highlightPreferenceValue="true"
             icon="%agileReview.icon"
             includeOnPreferencePage="true"
             isGoToPreviousNavigationTarget="false"
             label="Comment (Author 6)"
             overviewRulerPreferenceKey="Comment_Annotation_Overview_Author6"
             overviewRulerPreferenceValue="true"
             showInNextPrevDropdownToolbarAction="false"
             symbolicIcon="info"
             textPreferenceKey="Comment_Annotation_Text_Author6"
             textPreferenceValue="true"
             verticalRulerPreferenceKey="Comment_Annotation_Vertical_Author6"
             verticalRulerPreferenceValue="true">
       </specification>
       <specification
             annotationType="AgileReview.comment.annotation.Author7"
             colorPreferenceKey="Comment_Annotation_Author7"
             contributesToHeader="false"
             highlightPreferenceKey="Comment_Author7"
             highlightPreferenceValue="true"
             icon="%agileReview.icon"
             includeOnPreferencePage="true"
             isGoToPreviousNavigationTarget="false"
             label="Comment (Author 7)"
             overviewRulerPreferenceKey="Comment_Annotation_Overview_Author7"
             overviewRulerPreferenceValue="true"
             showInNextPrevDropdownToolbarAction="false"
             symbolicIcon="info"
             textPreferenceKey="Comment_Annotation_Text_Author7"
             textPreferenceValue="true"
             verticalRulerPreferenceKey="Comment_Annotation_Vertical_Author7"
             verticalRulerPreferenceValue="true">
       </specification>
       <specification
             annotationType="AgileReview.comment.annotation.Author8"
             colorPreferenceKey="Comment_Annotation_Author8"
             contributesToHeader="false"
             highlightPreferenceKey="Comment_Author8"
             highlightPreferenceValue="true"
             icon="%agileReview.icon"
             includeOnPreferencePage="true"
             isGoToPreviousNavigationTarget="false"
             label="Comment (Author 8)"
             overviewRulerPreferenceKey="Comment_Annotation_Overview_Author8"
             overviewRulerPreferenceValue="true"
             showInNextPrevDropdownToolbarAction="false"
             symbolicIcon="info"
             textPreferenceKey="Comment_Annotation_Text_Author8"
             textPreferenceValue="true"
             verticalRulerPreferenceKey="Comment_Annotation_Vertical_Author8"
             verticalRulerPreferenceValue="true">
       </specification>
       <specification
             annotationType="AgileReview.comment.annotation.Author9"
             colorPreferenceKey="Comment_Annotation_Author9"
             contributesToHeader="false"
             highlightPreferenceKey="Comment_Author9"
             highlightPreferenceValue="true"
             icon="%agileReview.icon"
             includeOnPreferencePage="true"
             isGoToPreviousNavigationTarget="false"
             label="Comment (Author 9)"
             overviewRulerPreferenceKey="Comment_Annotation_Overview_Author9"
             overviewRulerPreferenceValue="true"
             showInNextPrevDropdownToolbarAction="false"
             symbolicIcon="info"
             textPreferenceKey="Comment_Annotation_Text_Author9"
             textPreferenceValue="true"
             verticalRulerPreferenceKey="Comment_Annotation_Vertical_Author9"
             verticalRulerPreferenceValue="true">
       </specification>
       <specification
             annotationType="AgileReview.comment.annotation.Author10"
             colorPreferenceKey="Comment_Annotation_Author10"
             contributesToHeader="false"
             highlightPreferenceKey="Comment_Author10"
             highlightPreferenceValue="true"
             icon="%agileReview.icon"
             includeOnPreferencePage="true"
             isGoToPreviousNavigationTarget="false"
             label="Comment (Author 10)"
             overviewRulerPreferenceKey="Comment_Annotation_Overview_Author10"
             overviewRulerPreferenceValue="true"
             showInNextPrevDropdownToolbarAction="false"
             symbolicIcon="info"
             textPreferenceKey="Comment_Annotation_Text_Author10"
             textPreferenceValue="true"
             verticalRulerPreferenceKey="Comment_Annotation_Vertical_Author10"
             verticalRulerPreferenceValue="true">
       </specification>
    </extension>
    <extension
          id="AgileReview.ResourceMarker"
          name="AgileReview.ResourceMarker"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.marker">
       </super>
    </extension>
    <extension
          id="AgileReview.ResourceMarker.IDEUser"
          name="AgileReview.ResourceMarker"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.marker">
       </super>
    </extension>
    <extension
          id="AgileReview.ResourceMarker.Author2"
          name="AgileReview.ResourceMarker"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.marker">
       </super>
    </extension>
    <extension
          id="AgileReview.ResourceMarker.Author3"
          name="AgileReview.ResourceMarker"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.marker">
       </super>
    </extension>
    <extension
          id="AgileReview.ResourceMarker.Author4"
          name="AgileReview.ResourceMarker"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.marker">
       </super>
    </extension>
    <extension
          id="AgileReview.ResourceMarker.Author5"
          name="AgileReview.ResourceMarker"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.marker">
       </super>
    </extension>
    <extension
          id="AgileReview.ResourceMarker.Author6"
          name="AgileReview.ResourceMarker"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.marker">
       </super>
    </extension>
    <extension
          id="AgileReview.ResourceMarker.Author7"
          name="AgileReview.ResourceMarker"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.marker">
       </super>
    </extension>
    <extension
          id="AgileReview.ResourceMarker.Author8"
          name="AgileReview.ResourceMarker"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.marker">
       </super>
    </extension>
    <extension
          id="AgileReview.ResourceMarker.Author9"
          name="AgileReview.ResourceMarker"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.marker">
       </super>
    </extension>
    <extension
          id="AgileReview.ResourceMarker.Author10"
          name="AgileReview.ResourceMarker"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.marker">
       </super>
    </extension>
    <extension
          id="AgileReview.AnnotationType"
          name="AgileReview.ResourceMarker"
          point="org.eclipse.ui.editors.annotationTypes">
       <type
             markerType="AgileReview.ResourceMarker"
             name="AgileReview.comment.annotation">
       </type>
       <type
             markerType="AgileReview.ResourceMarker.IDEUser"
             name="AgileReview.comment.annotation.IDEUser">
       </type>
       <type
             markerType="AgileReview.ResourceMarker.Author2"
             name="AgileReview.comment.annotation.Author2">
       </type>
       <type
             markerType="AgileReview.ResourceMarker.Author3"
             name="AgileReview.comment.annotation.Author3">
       </type>
       <type
             markerType="AgileReview.ResourceMarker.Author4"
             name="AgileReview.comment.annotation.Author4">
       </type>
       <type
             markerType="AgileReview.ResourceMarker.Author5"
             name="AgileReview.comment.annotation.Author5">
       </type>
       <type
             markerType="AgileReview.ResourceMarker.Author6"
             name="AgileReview.comment.annotation.Author6">
       </type>
       <type
             markerType="AgileReview.ResourceMarker.Author7"
             name="AgileReview.comment.annotation.Author7">
       </type>
       <type
             markerType="AgileReview.ResourceMarker.Author8"
             name="AgileReview.comment.annotation.Author8">
       </type>
       <type
             markerType="AgileReview.ResourceMarker.Author9"
             name="AgileReview.comment.annotation.Author9">
       </type>
       <type
             markerType="AgileReview.ResourceMarker.Author10"
             name="AgileReview.comment.annotation.Author10">
       </type>
    </extension>
</plugin>
