<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.agilereview.storage.xml.XmlStorageClient"
         name="AgileReview XmlStorageClient"
         point="org.agilereview.core.StorageClient">
      <StorageClient
            class="org.agilereview.storage.xml.XmlStorageClient"
            id="XML-Storage"
            name="XML-Storage">
      </StorageClient>
   </extension>
<extension
      id="org.agilereview.storage.xml.nature.sourcefolder"
      name="AgileReview Source Folder"
      point="org.eclipse.core.resources.natures">
   <runtime>
      <run
            class="org.agilereview.storage.xml.natures.AgileReviewActiveNature">
      </run>
   </runtime>
</extension>
<extension
      id="org.agilereview.storage.xml.nature.sourcefolder.active"
      name="Active AgileReview Source Folder"
      point="org.eclipse.core.resources.natures">
   <runtime>
      <run
            class="org.agilereview.storage.xml.natures.AgileReviewNature">
      </run>
   </runtime>
</extension>
</plugin>
