<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.agilereview.storage.xml.XmlStorageClient"
         name="AgileReview XmlStorageClient"
         point="org.agilereview.core.StorageClient">
      <StorageClient
            class="org.agilereview.storage.xml.XmlStorageClient"
            id="org.agilereview.storage.xml.XmlStorageClient"
            name="XML-Storage">
      </StorageClient>
   </extension>
<extension
      id="org.agilereview.storage.xml.nature.reviewsourceproject"
      name="Review Source Project"
      point="org.eclipse.core.resources.natures">
   <runtime>
      <run
            class="org.agilereview.storage.xml.natures.AgileReviewActiveNature">
      </run>
   </runtime>
</extension>
<extension
      id="org.agilereview.storage.xml.nature.reviewsourceproject.active"
      name="Active Review Source Project"
      point="org.eclipse.core.resources.natures">
   <runtime>
      <run
            class="org.agilereview.storage.xml.natures.AgileReviewNature">
      </run>
   </runtime>
</extension>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         allPopups="false"
         locationURI="toolbar:org.agilereview.ui.basic.reviewExplorerView?after=org.agilereview.ui.basic.reviewexplorer.toolbar.separator5">
      <command
            commandId="org.agilereview.storage.xml.SwitchReviewSourceProject"
            label="Switch Review Source Project"
            style="push"
            tooltip="Switch Review Source Project">
      </command>
      <separator
            name="org.agilereview.storage.xml.separator1"
            visible="true">
      </separator>
   </menuContribution>
   <menuContribution
         allPopups="false"
         locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
      <separator
            name="org.agilereview.storage.xml.separator1">
      </separator>
      <command
            commandId="org.agilereview.storage.xml.ActivateReviewSourceProject"
            label="Activate Review Source Project"
            style="push"
            tooltip="Activate Review Source Project">
      </command>
      <separator
            name="org.agilereview.storage.xml.separator2">
      </separator>
   </menuContribution>
</extension>
<extension
      point="org.eclipse.ui.commands">
   <command
         category="org.agilereview.storage.xml.commands"
         categoryId="org.agilereview.storage.xml.commands"
         defaultHandler="org.agilereview.storage.xml.handler.SwitchReviewSourceProjectHandler"
         description="Switch Review Source Project"
         id="org.agilereview.storage.xml.SwitchReviewSourceProject"
         name="Switch Review Source Project">
   </command>
   <category
         description="XMLStorage Client Commands"
         id="org.agilereview.storage.xml.commands"
         name="XMLStorage Client Commands">
   </category>
   <command
         category="org.agilereview.storage.xml.commands"
         categoryId="org.agilereview.storage.xml.commands"
         defaultHandler="org.agilereview.storage.xml.handler.ActivateReviewSourceProjectHandler"
         description="Activate Review Source Project"
         id="org.agilereview.storage.xml.ActivateReviewSourceProject"
         name="Activate Review Source Project">
   </command>
</extension>
<extension
      point="org.eclipse.ui.handlers">
   <handler
         class="org.agilereview.storage.xml.handler.ActivateReviewSourceProjectHandler"
         commandId="org.agilereview.storage.xml.ActivateReviewSourceProject">
     <activeWhen>
         <with
               variable="selection">
              <count
                     value="1">
               </count>
            
         </with>
      </activeWhen>
      <enabledWhen>
         <with
               variable="selection">
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <and>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.agilereview.storage.xml.nature.reviewsourceproject">
                        </test>
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.agilereview.storage.xml.nature.reviewsourceproject.active">
                           </test>
                        </not>
                     </and>
                  </adapt>
               </iterate>
            </and>
         </with>
      </enabledWhen>
   </handler>
   <handler
         class="org.agilereview.storage.xml.handler.SwitchReviewSourceProjectHandler"
         commandId="org.agilereview.storage.xml.SwitchReviewSourceProject">
         <activeWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.agilereview.ui.basic.reviewExplorer.ReviewExplorerView">
               </instanceof>
            </with>
         </activeWhen>
   </handler>
</extension>
<extension
      point="org.eclipse.ui.commandImages">
   <image
         commandId="org.agilereview.storage.xml.SwitchReviewSourceProject"
         icon="resources/icons/switch_source_15x15.png">
   </image>
</extension>
<extension
      point="org.eclipse.ui.newWizards">
   <category
         id="org.agilereview.storage.xml.wizards.AgileReview"
         name="AgileReview">
   </category>
   <wizard
         category="org.agilereview.storage.xml.wizards.AgileReview"
         class="org.agilereview.storage.xml.wizards.newreviewsource.NewReviewSourceProjectWizard"
         hasPages="true"
         id="org.agilereview.storage.xml.NewReviewSourceProject"
         name="New Review Source Project"
         project="true">
   </wizard>
</extension>
</plugin>
