<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.agilereview.core.StorageClient" name="StorageClient" schema="schema/org.agilereview.core.StorageClient.exsd"/>
   <extension-point id="org.agilereview.core.ReviewDataReceiver" name="ReviewDataReceiver" schema="schema/org.agilereview.core.ReviewDataReceiver.exsd"/>
   <extension-point id="org.agilereview.core.EditorParser" name="EditorParser" schema="schema/org.agilereview.core.EditorParser.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.agilereview.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Common commands which will be used by many exensions of AgileReview"
            id="org.agilereview.core.commonCommands"
            name="Common AgileReview Commands">
      </category>
      <command
            categoryId="org.agilereview.core.commonCommands"
            description="Create a new review"
            id="org.agilereview.core.newReview"
            name="New Review">
      </command>
      <command
            categoryId="org.agilereview.core.commonCommands"
            description="Open or closes a review"
            id="org.agilereview.core.openCloseReview"
            name="Open/Close Review">
      </command>
      <command
            categoryId="org.agilereview.core.commonCommands"
            description="Activates a review"
            id="org.agilereview.core.activateReview"
            name="Activate Review">
      </command>
      <command
            categoryId="org.agilereview.core.commonCommands"
            description="Create a new comment"
            id="org.agilereview.core.newComment"
            name="Add new Comment">
      </command>
      <command
            categoryId="org.agilereview.core.commonCommands"
            description="Delete selected Comment(s)"
            id="org.agilereview.core.deleteComment"
            name="Delete Comment">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.agilereview.core.newReview"
            icon="icons/review_add.png">
      </image>
      <image
            commandId="org.agilereview.core.openCloseReview"
            icon="icons/closed_project.gif">
      </image>
      <image
            commandId="org.agilereview.core.activateReview"
            icon="icons/review_activate.png">
      </image>
      <image
            commandId="org.agilereview.core.newComment"
            icon="icons/comment_add.png">
      </image>
      <image
            commandId="org.agilereview.core.deleteComment"
            icon="icons/comment_del.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.agilereview.core.AgileReviewPerspective"
            id="org.agilereview.perspective"
            name="AgileReview">
      </perspective>
   </extension>
<extension
      id="org.agilereview.CommentSpecification"
      name="AgileReview Comment Specification"
      point="org.eclipse.ui.editors.markerAnnotationSpecification">
       <specification
             annotationType="org.agilereview.preferences.author_color"
             colorPreferenceKey="org.agilereview.preferences.author_color"
             colorPreferenceValue="0,0,0"
             contributesToHeader="false"
             highlightPreferenceKey="org.agilereview.comment.annotation.highlight"
             highlightPreferenceValue="true"
             icon="%agileReview.icon"
             includeOnPreferencePage="true"
             isGoToPreviousNavigationTarget="false"
             label="Comment (default)"
             overviewRulerPreferenceKey="org.agilereview.comment.annotation.overviewruler"
             overviewRulerPreferenceValue="true"
             showInNextPrevDropdownToolbarAction="false"
             symbolicIcon="info"
             textPreferenceKey="org.agilereview.comment.annotation.text"
             textPreferenceValue="true"
             verticalRulerPreferenceKey="org.agilereview.comment.annotation.verticalruler"
             verticalRulerPreferenceValue="true">
       </specification><specification
             annotationType="org.agilereview.preferences.author_color_IDEUser"
             colorPreferenceKey="org.agilereview.preferences.author_color_IDEUser"
             colorPreferenceValue="0,0,0"
             contributesToHeader="false"
             highlightPreferenceKey="org.agilereview.comment.annotation.highlight.IDEUser"
             highlightPreferenceValue="true"
             icon="%agileReview.icon"
             includeOnPreferencePage="true"
             isGoToPreviousNavigationTarget="false"
             label="Comment (IDE User)"
             overviewRulerPreferenceKey="org.agilereview.comment.annotation.overviewruler.IDEUser"
             overviewRulerPreferenceValue="true"
             showInNextPrevDropdownToolbarAction="false"
             symbolicIcon="info"
             textPreferenceKey="org.agilereview.comment.annotation.text.IDEUser"
             textPreferenceValue="true"
             verticalRulerPreferenceKey="org.agilereview.comment.annotation.verticalruler.IDEUser"
             verticalRulerPreferenceValue="true">
       </specification><specification
             annotationType="org.agilereview.preferences.author_color_Author2"
             colorPreferenceKey="org.agilereview.preferences.author_color_Author2"
             colorPreferenceValue="0,0,0"
             contributesToHeader="false"
             highlightPreferenceKey="org.agilereview.comment.annotation.highlight.Author2"
             highlightPreferenceValue="true"
             icon="%agileReview.icon"
             includeOnPreferencePage="true"
             isGoToPreviousNavigationTarget="false"
             label="Comment (Author 2)"
             overviewRulerPreferenceKey="org.agilereview.comment.annotation.overviewruler.Author2"
             overviewRulerPreferenceValue="true"
             showInNextPrevDropdownToolbarAction="false"
             symbolicIcon="info"
             textPreferenceKey="org.agilereview.comment.annotation.text.Author2"
             textPreferenceValue="true"
             verticalRulerPreferenceKey="org.agilereview.comment.annotation.verticalruler.Author2"
             verticalRulerPreferenceValue="true">
       </specification><specification
             annotationType="org.agilereview.preferences.author_color_Author3"
             colorPreferenceKey="org.agilereview.preferences.author_color_Author3"
             colorPreferenceValue="0,0,0"
             contributesToHeader="false"
             highlightPreferenceKey="org.agilereview.comment.annotation.highlight.Author3"
             highlightPreferenceValue="true"
             icon="%agileReview.icon"
             includeOnPreferencePage="true"
             isGoToPreviousNavigationTarget="false"
             label="Comment (Author 3)"
             overviewRulerPreferenceKey="org.agilereview.comment.annotation.overviewruler.Author3"
             overviewRulerPreferenceValue="true"
             showInNextPrevDropdownToolbarAction="false"
             symbolicIcon="info"
             textPreferenceKey="org.agilereview.comment.annotation.text.Author3"
             textPreferenceValue="true"
             verticalRulerPreferenceKey="org.agilereview.comment.annotation.verticalruler.Author3"
             verticalRulerPreferenceValue="true">
       </specification><specification
             annotationType="org.agilereview.preferences.author_color_Author4"
             colorPreferenceKey="org.agilereview.preferences.author_color_Author4"
             colorPreferenceValue="0,0,0"
             contributesToHeader="false"
             highlightPreferenceKey="org.agilereview.comment.annotation.highlight.Author4"
             highlightPreferenceValue="true"
             icon="%agileReview.icon"
             includeOnPreferencePage="true"
             isGoToPreviousNavigationTarget="false"
             label="Comment (Author 4)"
             overviewRulerPreferenceKey="org.agilereview.comment.annotation.overviewruler.Author4"
             overviewRulerPreferenceValue="true"
             showInNextPrevDropdownToolbarAction="false"
             symbolicIcon="info"
             textPreferenceKey="org.agilereview.comment.annotation.text.Author4"
             textPreferenceValue="true"
             verticalRulerPreferenceKey="org.agilereview.comment.annotation.verticalruler.Author4"
             verticalRulerPreferenceValue="true">
       </specification><specification
             annotationType="org.agilereview.preferences.author_color_Author5"
             colorPreferenceKey="org.agilereview.preferences.author_color_Author5"
             colorPreferenceValue="0,0,0"
             contributesToHeader="false"
             highlightPreferenceKey="org.agilereview.comment.annotation.highlight.Author5"
             highlightPreferenceValue="true"
             icon="%agileReview.icon"
             includeOnPreferencePage="true"
             isGoToPreviousNavigationTarget="false"
             label="Comment (Author 5)"
             overviewRulerPreferenceKey="org.agilereview.comment.annotation.overviewruler.Author5"
             overviewRulerPreferenceValue="true"
             showInNextPrevDropdownToolbarAction="false"
             symbolicIcon="info"
             textPreferenceKey="org.agilereview.comment.annotation.text.Author5"
             textPreferenceValue="true"
             verticalRulerPreferenceKey="org.agilereview.comment.annotation.verticalruler.Author5"
             verticalRulerPreferenceValue="true">
       </specification><specification
             annotationType="org.agilereview.preferences.author_color_Author6"
             colorPreferenceKey="org.agilereview.preferences.author_color_Author6"
             colorPreferenceValue="0,0,0"
             contributesToHeader="false"
             highlightPreferenceKey="org.agilereview.comment.annotation.highlight.Author6"
             highlightPreferenceValue="true"
             icon="%agileReview.icon"
             includeOnPreferencePage="true"
             isGoToPreviousNavigationTarget="false"
             label="Comment (Author 6)"
             overviewRulerPreferenceKey="org.agilereview.comment.annotation.overviewruler.Author6"
             overviewRulerPreferenceValue="true"
             showInNextPrevDropdownToolbarAction="false"
             symbolicIcon="info"
             textPreferenceKey="org.agilereview.comment.annotation.text.Author6"
             textPreferenceValue="true"
             verticalRulerPreferenceKey="org.agilereview.comment.annotation.verticalruler.Author6"
             verticalRulerPreferenceValue="true">
       </specification><specification
             annotationType="org.agilereview.preferences.author_color_Author7"
             colorPreferenceKey="org.agilereview.preferences.author_color_Author7"
             colorPreferenceValue="0,0,0"
             contributesToHeader="false"
             highlightPreferenceKey="org.agilereview.comment.annotation.highlight.Author7"
             highlightPreferenceValue="true"
             icon="%agileReview.icon"
             includeOnPreferencePage="true"
             isGoToPreviousNavigationTarget="false"
             label="Comment (Author 7)"
             overviewRulerPreferenceKey="org.agilereview.comment.annotation.overviewruler.Author7"
             overviewRulerPreferenceValue="true"
             showInNextPrevDropdownToolbarAction="false"
             symbolicIcon="info"
             textPreferenceKey="org.agilereview.comment.annotation.text.Author7"
             textPreferenceValue="true"
             verticalRulerPreferenceKey="org.agilereview.comment.annotation.verticalruler.Author7"
             verticalRulerPreferenceValue="true">
       </specification><specification
             annotationType="org.agilereview.preferences.author_color_Author8"
             colorPreferenceKey="org.agilereview.preferences.author_color_Author8"
             colorPreferenceValue="0,0,0"
             contributesToHeader="false"
             highlightPreferenceKey="org.agilereview.comment.annotation.highlight.Author8"
             highlightPreferenceValue="true"
             icon="%agileReview.icon"
             includeOnPreferencePage="true"
             isGoToPreviousNavigationTarget="false"
             label="Comment (Author 8)"
             overviewRulerPreferenceKey="org.agilereview.comment.annotation.overviewruler.Author8"
             overviewRulerPreferenceValue="true"
             showInNextPrevDropdownToolbarAction="false"
             symbolicIcon="info"
             textPreferenceKey="org.agilereview.comment.annotation.text.Author8"
             textPreferenceValue="true"
             verticalRulerPreferenceKey="org.agilereview.comment.annotation.verticalruler.Author8"
             verticalRulerPreferenceValue="true">
       </specification>
       <specification
             annotationType="org.agilereview.preferences.author_color_Author9"
             colorPreferenceKey="org.agilereview.preferences.author_color_Author9"
             colorPreferenceValue="0,0,0"
             contributesToHeader="false"
             highlightPreferenceKey="org.agilereview.comment.annotation.highlight.Author9"
             highlightPreferenceValue="true"
             icon="%agileReview.icon"
             includeOnPreferencePage="true"
             isGoToPreviousNavigationTarget="false"
             label="Comment (Author 9)"
             overviewRulerPreferenceKey="org.agilereview.comment.annotation.overviewruler.Author9"
             overviewRulerPreferenceValue="true"
             showInNextPrevDropdownToolbarAction="false"
             symbolicIcon="info"
             textPreferenceKey="org.agilereview.comment.annotation.text.Author9"
             textPreferenceValue="true"
             verticalRulerPreferenceKey="org.agilereview.comment.annotation.verticalruler.Author9"
             verticalRulerPreferenceValue="true">
       </specification>
       <specification
             annotationType="org.agilereview.preferences.author_color_Author10"
             colorPreferenceKey="org.agilereview.preferences.author_color_Author10"
             colorPreferenceValue="0,0,0"
             contributesToHeader="false"
             highlightPreferenceKey="org.agilereview.comment.annotation.highlight.Author10"
             highlightPreferenceValue="true"
             icon="%agileReview.icon"
             includeOnPreferencePage="true"
             isGoToPreviousNavigationTarget="false"
             label="Comment (Author 10)"
             overviewRulerPreferenceKey="org.agilereview.comment.annotation.overviewruler.Author10"
             overviewRulerPreferenceValue="true"
             showInNextPrevDropdownToolbarAction="false"
             symbolicIcon="info"
             textPreferenceKey="org.agilereview.comment.annotation.text.Author10"
             textPreferenceValue="true"
             verticalRulerPreferenceKey="org.agilereview.comment.annotation.verticalruler.Author10"
             verticalRulerPreferenceValue="true">
       </specification>
    </extension>
    <extension
          id="org.agilereview.ResourceMarker"
          name="AgilerReview ResourceMarker (default)"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.marker">
       </super>
    </extension>
    <extension
          id="org.agilereview.ResourceMarker.IDEUser"
          name="AgilerReview ResourceMarker (IDE User)"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.marker">
       </super>
    </extension>
    <extension
          id="org.agilereview.ResourceMarker.Author2"
          name="AgilerReview ResourceMarker (Author 2)"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.marker">
       </super>
    </extension>
    <extension
          id="org.agilereview.ResourceMarker.Author3"
          name="AgilerReview ResourceMarker (Author 3)"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.marker">
       </super>
    </extension>
    <extension
          id="org.agilereview.ResourceMarker.Author4"
          name="AgilerReview ResourceMarker (Author 4)"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.marker">
       </super>
    </extension>
    <extension
          id="org.agilereview.ResourceMarker.Author5"
          name="AgilerReview ResourceMarker (Author 5)"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.marker">
       </super>
    </extension>
    <extension
          id="org.agilereview.ResourceMarker.Author6"
          name="AgilerReview ResourceMarker (Author 6)"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.marker">
       </super>
    </extension>
    <extension
          id="org.agilereview.ResourceMarker.Author7"
          name="AgilerReview ResourceMarker (Author 7)"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.marker">
       </super>
    </extension>
    <extension
          id="org.agilereview.ResourceMarker.Author8"
          name="AgilerReview ResourceMarker (Author 8)"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.marker">
       </super>
    </extension>
    <extension
          id="org.agilereview.ResourceMarker.Author9"
          name="AgilerReview ResourceMarker (Author 9)"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.marker">
       </super>
    </extension>
    <extension
          id="org.agilereview.ResourceMarker.Author10"
          name="AgilerReview ResourceMarker (Author 10)"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.marker">
       </super>
    </extension>
    <extension
          id="org.agilereview.AnnotationType"
          name="org.agilereview.ResourceMarker"
          point="org.eclipse.ui.editors.annotationTypes">
       <type
             markerType="org.agilereview.ResourceMarker"
             name="org.agilereview.comment.annotation">
       </type>
       <type
             markerType="org.agilereview.ResourceMarker.IDEUser"
             name="org.agilereview.comment.annotation.IDEUser">
       </type>
       <type
             markerType="org.agilereview.ResourceMarker.Author2"
             name="org.agilereview.comment.annotation.Author2">
       </type>
       <type
             markerType="org.agilereview.ResourceMarker.Author3"
             name="org.agilereview.comment.annotation.Author3">
       </type>
       <type
             markerType="org.agilereview.ResourceMarker.Author4"
             name="org.agilereview.comment.annotation.Author4">
       </type>
       <type
             markerType="org.agilereview.ResourceMarker.Author5"
             name="org.agilereview.comment.annotation.Author5">
       </type>
       <type
             markerType="org.agilereview.ResourceMarker.Author6"
             name="org.agilereview.comment.annotation.Author6">
       </type>
       <type
             markerType="org.agilereview.ResourceMarker.Author7"
             name="org.agilereview.comment.annotation.Author7">
       </type>
       <type
             markerType="org.agilereview.ResourceMarker.Author8"
             name="org.agilereview.comment.annotation.Author8">
       </type>
       <type
             markerType="org.agilereview.ResourceMarker.Author9"
             name="org.agilereview.comment.annotation.Author9">
       </type>
       <type
             markerType="org.agilereview.ResourceMarker.Author10"
             name="org.agilereview.comment.annotation.Author10">
       </type>
    </extension>
</plugin>
