<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.agilereview.core.StorageClient" name="StorageClient" schema="schema/org.agilereview.core.StorageClient.exsd"/>
   <extension-point id="org.agilereview.core.ReviewDataReceiver" name="ReviewDataReceiver" schema="schema/org.agilereview.core.ReviewDataReceiver.exsd"/>
   <extension-point id="org.agilereview.core.EditorParser" name="EditorParser" schema="schema/org.agilereview.core.EditorParser.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.agilereview.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Common commands which will be used by many exensions of AgileReview"
            id="org.agilereview.core.commonCommands"
            name="Common AgileReview Commands">
      </category>
      <command
            categoryId="org.agilereview.core.commonCommands"
            description="Create a new review"
            id="org.agilereview.core.newReview"
            name="New Review">
      </command>
      <command
            categoryId="org.agilereview.core.commonCommands"
            description="Open or closes a review"
            id="org.agilereview.core.openCloseReview"
            name="Open/Close Review">
      </command>
      <command
            categoryId="org.agilereview.core.commonCommands"
            description="Activates a review"
            id="org.agilereview.core.activateReview"
            name="Activate Review">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.agilereview.core.newReview"
            icon="icons/review_add.png">
      </image>
      <image
            commandId="org.agilereview.core.openCloseReview"
            icon="icons/closed_project.gif">
      </image>
      <image
            commandId="org.agilereview.core.activateReview"
            icon="icons/review_activate.png">
      </image>
   </extension>

</plugin>
