<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.agilereview.core.ReviewDataReceiver">
      <ReviewDataReceiver
            class="org.agilereview.ui.basic.commentSummary.CSTableModel">
      </ReviewDataReceiver>
   </extension>

</plugin>
